*
  font-family: sans-serif

html,
body,
#app > *
  height: 100%

#app
  position: fixed
  right: 5px
  left: 5px
  top: 20px
  bottom: 20px

.infinite-list
  display: flex
  flex-direction: column
  overflow-y: auto

  .inner
    flex: 0 0 auto
    display: flex
    flex-direction: column
    & > *
      flex: 0 0 auto

    & .items > *
      flex: 0 0 auto

.ani-list
  display: flex
  flex-direction: column
  & > *
    flex: 0 0 auto
