.ani-list
  display: flex
  flex-direction: column
  flex: 0 0 auto
  width: 100%
  & > .static
    flex: 0 0 auto
    flex-direction: column
    //flex-wrap: wrap

    width: 100%
    & > *
      display: inline-block
      flex: 0 0 auto
